*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
    padding: 0rem 3rem;
}

.container .navbar {
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: beige;
}

.container .navbar .logo{
    width: 50%;
    background-color: aqua;
}

.container .navbar .logo img{
    width: 200px;
    height: 60px;
}

.container .navbar .genral{
    width: 50%;
    display: flex;
    justify-content: right;
    /* background: red; */
}

.container .navbar .genral .languageBox {
    display: flex;
    width: 20%;
    justify-content: space-between;
    padding: 10px 20px;
    background: transparent;
    border: 2px solid black;
}


